@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  /* font-weight: 400, 700, 800; */
}
@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

body {
  @apply font-inter p-24 bg-(--off-white);
}

p,
a {
  @apply text-(--dark-grayish-blue);
}

h1,
h3 {
  @apply text-(--very-dark-blue) font-extrabold;
}

.nav-links {
  @apply flex;
}

.nav-links a {
  @apply px-4;
  @apply text-(--very-dark-blue) font-extrabold;
}

.nav-links {
  @apply flex;
}

.nav-links a {
  @apply px-4;
}

.nav-links a:active{
  @apply text-(--soft-red)
}